<ul class="details">
  <li>{{userDetails.id}}) {{userDetails.name}}</li>
  <li>username: {{userDetails.username}}</li>
  <li>email: {{userDetails.email}}</li>
  <li>address:
    <ul>
      <li>street: {{userDetails.address.street}}</li>
      <li>suite: {{userDetails.address.suite}}</li>
      <li>city: {{userDetails.address.city}}</li>
      <li>zipcode: {{userDetails.address.zipcode}}</li>
      <li>geo:
        <ul>
          <li>lat: {{userDetails.address.geo.lat}}</li>
          <li>lng: {{userDetails.address.geo.lng}}</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>phone: {{userDetails.phone}}</li>
  <li>website: {{userDetails.website}}</li>
  <li>company:
    <ul>
      <li>name: {{userDetails.company.name}}</li>
      <li>catchPhrase: {{userDetails.company.catchPhrase}}</li>
      <li>bs: {{userDetails.company.bs}}</li>
    </ul>
  </li>
</ul>

