<form [formGroup]="form">
  <div><label>Model: <input type="text" formControlName="model"></label></div>
  <div><label>Year: <input type="text" formControlName="year"></label></div>
  <div><label>Price: <input type="text" formControlName="price"></label></div>
<button (click)="save()">{{!carForUpdate ? 'Save' : 'Update'}}</button>
</form>

<hr>

<div>
  <div *ngFor="let car of cars">
    {{car.id}} -- {{car.model}} -- {{car.year}} -- {{car.price}}
    <button (click)="update(car)">Update</button>
    <button (click)="delete(car.id)">Delete</button>
  </div>
</div>
