.users{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.item{
  width: 18%;
  padding: 10px;
  margin: 15px;
}

.item:hover{
  background-color: var(--dark);
}

